@font-face {
  font-family: 'Host Grotesk';
  src: url('../fonts/HostGrotesk-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: 'Host Grotesk';
  src: url('../fonts/HostGrotesk-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
}
